<div class='container content'>
	<div class="row" scroll-spy>
		<div class="col-md-12 bs-docs-section" style="text-align:center">
			<h1>The 4th Black-belt DAN test and 37th Grading-test</h1>
			<img src="images/grading.gif" style="margin:auto; border-radius:3% "/>
			<br/>
			<br/>
			<br/>
			<br/>
			<img src="images/gp1.gif" style="margin:auto; border-radius:3% "/>
			<br/>
			<br/>
			<br/>
			<br/>
			<img src="images/gp2.gif" style="margin:auto; border-radius:3% "/>
			<br/>
			<br/>
			<br/>
			<br/>
			<img src="images/gp3.gif" style="margin:auto; border-radius:3% "/>
			<br/>
			<br/>
			<br/>
			<br/>
			<img src="images/gp4.gif" style="margin:auto; border-radius:3% "/>
			<br/>
			<br/>
			<br/>
			<br/>
			<p style="color:black">
				The 4th Black-belt DAN test and 37th Grading-test
				<br/>
				was held in Bucklands beach primary school on
				<br/>
				Saturday 28th of June, 2014.
				<br/>
				Thank you
			</p>
			<br/>
			<br/>
		</div>
	</div>
</div>
